<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/faces-config.xml</param-value>
    </context-param>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>br.dsw.control.filters.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/site/list</url-pattern>
        <url-pattern>/site/delete</url-pattern>
        <url-pattern>/site/update</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>LoggedFilter</filter-name>
        <filter-class>br.dsw.control.filters.LoggedFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoggedFilter</filter-name>
        <url-pattern>/ingresso/por-site</url-pattern>
        <url-pattern>/ingresso/delete</url-pattern>
        <url-pattern>/ingresso/update</url-pattern>
        <url-pattern>/site/delete</url-pattern>
        <url-pattern>/site/update</url-pattern>
        <url-pattern>/teatro/delete</url-pattern>
        <url-pattern>/teatro/update</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>  
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>bootstrap</param-value>
	</context-param>
    <error-page>
        <error-code>404</error-code>
        <location>/faces/404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/faces/401.xhtml</location>
    </error-page>
</web-app>
